<a href="https://colab.research.google.com/github/sachasolu/test2/blob/main/test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
reponse = input("Entrez un nombre : ")
print(type(reponse))
valeur = int(reponse)
print("Voici ce nombre au carrÃ© :", valeur*valeur)

Entrez un nombre : 81
<class 'str'>
Voici ce nombre au carrÃ© : 6561

In [1]:
prixHT  = float(input("Entrez le prix HT : "))
TVA     = 0.2
Taxe    = TVA * prixHT
PrixTTC = prixHT + Taxe
print("Prix TTC : ", PrixTTC)

Entrez le prix HT : 50
Prix TTC :  60.0

In [2]:
chr(0x1F63B)

'ðŸ˜»'