<a href="https://colab.research.google.com/github/sachasolu/test2/blob/main/test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
reponse = input("Entrez un nombre : ")
print(type(reponse))
valeur = int(reponse)
print("Voici ce nombre au carrÃ© :", valeur*valeur)

Entrez un nombre : 81
<class 'str'>
Voici ce nombre au carrÃ© : 6561

In [ ]:
prixHT  = float(input("Entrez le prix HT : "))
TVA     = 0.2
Taxe    = TVA * prixHT
PrixTTC = prixHT + Taxe
print("Prix TTC : ", PrixTTC)

Entrez le prix HT : 50
Prix TTC :  60.0

In [ ]:
chr(0x1F63B)

'ðŸ˜»'

In [11]:
reponse = input("Entrez un mot : ")
taille = len(reponse)
for i in range (taille) :
  inverse = taille - (i+1)
  print(reponse[inverse],end='')

Entrez un mot : azerty
ytreza

In [14]:
nombre = float(input("Entrez un nombre : "))
reponse = 3 * nombre * nombre + 5 * nombre + 1
print("On calcule 3xÂ² + 5x +1")
print(reponse)

Entrez un nombre : 12.5
On calcule 3xÂ² + 5x +1
532.25

In [17]:
nombre = int(input("Entrez un nombre : "))
total = 0
for i in range (nombre+1) :
  total += i
print(total)

Entrez un nombre : 50
1275

In [27]:
print("XX" + "0123456789" * 5)
nombre = 1
for i in range (50) :
  nombre = nombre / 2
  txt = "{:0.50f}".format(nombre)
  print(txt)

XX01234567890123456789012345678901234567890123456789
0.50000000000000000000000000000000000000000000000000
0.25000000000000000000000000000000000000000000000000
0.12500000000000000000000000000000000000000000000000
0.06250000000000000000000000000000000000000000000000
0.03125000000000000000000000000000000000000000000000
0.01562500000000000000000000000000000000000000000000
0.00781250000000000000000000000000000000000000000000
0.00390625000000000000000000000000000000000000000000
0.00195312500000000000000000000000000000000000000000
0.00097656250000000000000000000000000000000000000000
0.00048828125000000000000000000000000000000000000000
0.00024414062500000000000000000000000000000000000000
0.00012207031250000000000000000000000000000000000000
0.00006103515625000000000000000000000000000000000000
0.00003051757812500000000000000000000000000000000000
0.00001525878906250000000000000000000000000000000000
0.00000762939453125000000000000000000000000000000000
0.00000381469726562500000000000000000000000000000000
0.00000190734863281250000000000000000000000000000000
0.00000095367431640625000000000000000000000000000000
0.00000047683715820312500000000000000000000000000000
0.00000023841857910156250000000000000000000000000000
0.00000011920928955078125000000000000000000000000000
0.00000005960464477539062500000000000000000000000000
0.00000002980232238769531250000000000000000000000000
0.00000001490116119384765625000000000000000000000000
0.00000000745058059692382812500000000000000000000000
0.00000000372529029846191406250000000000000000000000
0.00000000186264514923095703125000000000000000000000
0.00000000093132257461547851562500000000000000000000
0.00000000046566128730773925781250000000000000000000
0.00000000023283064365386962890625000000000000000000
0.00000000011641532182693481445312500000000000000000
0.00000000005820766091346740722656250000000000000000
0.00000000002910383045673370361328125000000000000000
0.00000000001455191522836685180664062500000000000000
0.00000000000727595761418342590332031250000000000000
0.00000000000363797880709171295166015625000000000000
0.00000000000181898940354585647583007812500000000000
0.00000000000090949470177292823791503906250000000000
0.00000000000045474735088646411895751953125000000000
0.00000000000022737367544323205947875976562500000000
0.00000000000011368683772161602973937988281250000000
0.00000000000005684341886080801486968994140625000000
0.00000000000002842170943040400743484497070312500000
0.00000000000001421085471520200371742248535156250000
0.00000000000000710542735760100185871124267578125000
0.00000000000000355271367880050092935562133789062500
0.00000000000000177635683940025046467781066894531250
0.00000000000000088817841970012523233890533447265625

In [40]:
compteur = 0
for i in range (10,100) :
  dizaine = i // 10
  #print("dizaine " + str(dizaine))
  unite = i - (dizaine * 10)
  #print(unite)
  if dizaine == 7 :
    compteur += 1
    #print(compteur)
  else :
    if unite == 7 :
      compteur += 1
print(compteur)

18

In [52]:
reponse = input("Entrez un mot : ")
maj = reponse.upper()
code = ""

for i in range (len(maj)) :
  uni = ord(maj[i])
  if uni < 88 :
    uni += 3
    code += str(chr(uni))
  else :
    uni -= 23
    code += str(chr(uni))
print(code)

Entrez un mot : Agent bleu
DJHQW#EOHX

In [54]:
nombre = int(input("Entrez le nombre de jour du mois : "))
jour = int(input("Entrez le nombre correspondant au premier jour du mois : "))
colonne = 0

txt = "{0}{1}{2}{3}{4}{5}{6}, ".format("LUN","MAR","MER","JEU","VEN","SAM","DIM")
print (txt)

Entrez le nombre de jour du mois : 50
Entrez le nombre correspondant au premier jour du mois : 05
LUNMARMERJEUVENSAMDIM